
<button class="ui left floated button"><%= link_to 'Back to Billboards', billboards_path %></button>
<br>
<h1>Artists</h1>

<div class="container">
  <% @artists.each do |artist| %>
  <div class="ui card" >
    <div class="content">
      <h2><%= artist.name %></h2>
    </div>
    <div class="extra content">
      <button class="ui primary left floated button"><%= link_to 'Show', artist_path(artist) %></button>
      <button class="ui right floated button"><%= link_to 'Delete', artist, method: :delete %></button>
    </div>
  </div>
  <% end %>
</div>
