<h1><%= @billboard.name %></h1>
<hr>
  <h2>Songs</h2>
  <ol>
    <% @billboard.songs.each do |song| %>
      <li><%= song.title %> <%= song.artist.name %></li>
    <% end %>
  </ol>
<hr>
<%= link_to 'Back', billboards_path %>